@page "/Authentication/forgetpassword"
@inject IAuthenticationServices _athenticationServices
@inject NavigationManager _navigationManager
@inject IDialogService DialogService
@layout AuthenficationLayout

<FluentEditForm Model="SendResetPassword" OnValidSubmit="() => Submit()">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div>
        <input type="text" @bind="SendResetPassword.UserName" Placeholder="User Name">
        <FluentValidationMessage For="() => SendResetPassword.UserName" class="text-danger"></FluentValidationMessage>
    </div>

    <button type="submit">
        Send Code
    </button>
</FluentEditForm>