@page "/Authentication/forgetpassword"
@inject IAuthenticationServices _athenticationServices
@inject NavigationManager _navigationManager
@inject IDialogService DialogService
@layout AuthenficationLayout

<FluentEditForm Model="SendResetPassword" OnValidSubmit="() => Submit()">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="inp-div">
        <input type="text" @bind="SendResetPassword.UserName" Placeholder="User Name" class="input-login">
        <FluentValidationMessage For="() => SendResetPassword.UserName" class="text-danger"></FluentValidationMessage>
    </div>

    <button type="submit" class="login-btn" style="width: 400px;height: 50px;border-radius: 20px;border-color:white;font-size:25px;background: #fbceb5;">
        Send Code
    </button>
</FluentEditForm>