@page "/Authentication/Login"
@inject IAuthenticationServices _athenticationServices
@inject ILocalStorageService _localStore
@inject IDialogService DialogService
@inject NavigationManager _navigationManager
@layout AuthenficationLayout

<FluentEditForm Model="LoginModel" OnValidSubmit="Submit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div>
        <input type="text" @bind="LoginModel.UserName" Placeholder="User Name">
        <FluentValidationMessage For="() => LoginModel.UserName" class="text-danger"></FluentValidationMessage>
    </div>
    <div>
        <input type="password" @bind="LoginModel.Password" Placeholder="Password">
        <FluentValidationMessage For="() => LoginModel.Password" class="text-danger"></FluentValidationMessage>
        <a href="/Authentication/forgetpassword">Forget password</a>

    </div>

    <button type="submit" class="login-btn">
        Login
    </button>

    <span>Do not you have an account? <a href="/Authentication/Signup">Sign up</a></span>
</FluentEditForm>
