@page "/Authentication/ResetPassword/{UserName:alpha}"
@inject IAuthenticationServices _athenticationServices
@inject NavigationManager _navigationManager
@inject IDialogService DialogService
@layout AuthenficationLayout

<FluentEditForm Model="ResetPasswordRequest" OnValidSubmit="()=> Submit()">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="inp-div">
        <input type="text" @bind="ResetPasswordRequest.Code" Placeholder="Code" class="input-login">
        <FluentValidationMessage For="() => ResetPasswordRequest.Code" class="text-danger"></FluentValidationMessage>
    </div>
    <div class="inp-div">
        <input type="password" @bind="ResetPasswordRequest.Password" Placeholder="New Password" class="input-login">
        <FluentValidationMessage For="() => ResetPasswordRequest.Password" class="text-danger"></FluentValidationMessage>
    </div>

    <button type="submit" class="login-btn">
        Reset password
    </button>
</FluentEditForm>
