div {
    margin-bottom: 30px;
}

input {
    width: 400px;
    height: 50px;
    padding: 5px;
    border-radius: 20px;
    /*background-color: rgba(255, 255, 255, 0.3);*/
    border-color: white;
    font-size: 15px;
    display: block;
    color: rgb(0, 0, 0, 1);
}

a {
    margin-top: 10px;
    color: white;
}

button {
    width: 400px;
    height: 50px;
    border-radius: 20px;
    border-color: white;
    font-size: 25px;
    background: #fbceb5;
    display: block;
}

    button + span {
        color: white;
    }
