div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    font-size: 10px;
    line-height: 16px;
}

.rateP {
    display:inline;
    margin-left:10px;
}

img {
    width: 230px;
    height: 195px;
}

.delete-button {
    width: 47%;
    margin-right: 2.5%;
    color: var(--error);
    border: 2px solid var(--error);
}

.details-button {
    width: 47.5%;
    border: 2px solid var(--accent-fill-rest);
}

fluent-card {
    margin-bottom: 20px;
}